<div class="card-wrapper">
  <!-- Outer glow -->
  <div class="card-glow"></div>

  <!-- Card body -->
  <div class="credit-card">
    <!-- Highlights -->
    <div class="card-highlight-circle"></div>

    <div class="card-highlight-gradient"></div>

    <div class="card-content">
      <!-- Top -->
      <div class="card-header">
        <!-- Chip -->
        <div class="chip">
          <div class="chip-inner"></div>
        </div>

        <!-- Wifi icon -->
      </div>

      <!-- Bottom -->
      <div class="card-info">
        <p class="number">•••• •••• •••• 1234</p>

        <div class="card-details">
          <div class="owner">
            <span> Titular </span>

            <p>
              {{ "NOMBRE APELLIDO" }}
            </p>
          </div>

          <div class="balance">
            <span> Saldo </span>

            <p>
              <!-- {{ 0 | currency: "CLP" : "symbol" : "1.0-0" }} -->
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
